flex-version = flex
support-for-ie = false
vendor-prefixes = official
rupture.enable-em-breakpoints = true
rupture.scale = 0px 400px 600px 768px 1023px 1200px 1400px
// Estilos 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'base/vars.styl'
@import 'base/mixins.styl'
@import 'base/reset.styl'
@import 'utils/utils.styl'