@keyframes bounce {
	0%   { transform: scale(1,1)      translateY(0); }
	10%  { transform: scale(1.1,.9)   translateY(0); }
	30%  { transform: scale(.9,1.1)   translateY(-100px); }
	50%  { transform: scale(1.05,.95) translateY(0); }
	57%  { transform: scale(1,1)      translateY(-7px); }
	64%  { transform: scale(1,1)      translateY(0); }
	100% { transform: scale(1,1)      translateY(0); }
}

.tooltip
	min-height 80px
	width: 250px
	background-color: #ffffff
	padding: 5px
	border-radius: 5px
	position relative
	padding-top: 1.5rem
	box-shadow: 4px 4px 5px rgba(#000,20%)
	// animation-name: bounce;
	// animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
	&__triangle
		position absolute
		top:100%
		left:50%
		transform: translateX(-50%)
		width: 0
		height: 0
		border-left: 10px solid transparent
		border-right: 10px solid transparent
		border-top: 10px solid #ffffff
	&__inner
		border:1px solid tomato
	&__close
		display: inline-block
		// float: right
		position absolute
		right:0.25rem
		top:0.25rem
		cursor: pointer